@media screen and (max-width:768px) {
  
  header div.wrap ul.gnb{    
  display: none;
  }
  header div.wrap ul.lang{    
  display: none;
  }
  .ham{    
  display: flex;
  }
/*  타이틀  */
  #title{    
  min-height: auto;
  padding: 200px 15px 0;
  }
  #title .wrap{    
  text-align: center;
  }
}