#title {  
  height: calc(100%);
  min-height: 800px;
  position: relative;
  padding-top: 200px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
}
#title::before{
  content: "";
  width: 52%;
  height: 280px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #32aefa;
  border-radius: 0 140px 0 0;
  animation-name: titleA;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
}
@keyframes titleA{
  0%{
    opacity: 1;
    transform: translateX(0);
  }
  100%{
    opacity: 0;
    transform: translateX(-100%);
  }
}
#title>a{
  
}
#title>a::before{
  content: ""; 
  background-image: url(../img/main2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: contain;
  width: 244px;
  height: 354px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 51%;
  z-index: 1;
  animation-name: mainR;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  animation-delay: 0.7s;
  transform: translateY(100%);
  animation-fill-mode: forwards;
}
@keyframes mainR{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(100%);
  }
}

#title .wrap { 
  animation-name: titleT;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
}
@keyframes titleT{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(80%);
  }
}
#title .wrap h2 {
  font-weight: 100;
}
#title .wrap p {

}
#title::after{
  content: "";
  width: 52%;
  height: 280px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #3356b0;
  border-radius: 140px 0 0 0;
  animation-name: titleB;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

@keyframes titleB{
  0%{
    opacity: 1;
    transform: translateX(0);   
  }
  100%{
    opacity: 0;
    transform: translateX(100%);
  }
}
